h1{
  font-size: 30px;

}


body {
  background-image: url(../images/keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
#container {
  padding: 40px 70px 40px 70px;
  background-color: rgba(236, 226, 226, 0.32);
  min-height: 100vh;
  margin: 0;
}
#photo{

  display: inline-block;
  img{
    border-radius: 10px;
    width: 250px;

  }

}
#intro{

  display: inline-block;
  vertical-align: top;
  margin-left: 150px;
  width: 500px;


  p {
  font-size: 20px;
  }
}
#projects{


  .project{
    border-radius: 10px;
    height:200px;
    width:200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 40px;
    overflow: hidden;
    a{
      border-radius: 10px;
      display: block;
      height: 100%;
      width:100%;
      background-color: rgba(245, 248, 250, 0.53);
      font-size: 30px;
      text-decoration: none;
      text-align: center;
      line-height: 200px;
      transition: all 0.6s;
      color: black;
      opacity: 0;
      &:hover{
        color: white;
        font-size: 35px;
        opacity:1;

      }
    }
  }
  .fizz {
    background-image: url(../images/fizz_buzz.png);
  }
  .nihao{
    background-image: url(../images/my_first_website.png);
  }


}
#footer{
  background-position: center;
  text-align:left;
  padding-bottom: 0px;
  font-size: xx-large;
  padding-left: 50px;

}


.contact{

  display:inline-block;
  float:right;
  a{
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(28, 28, 27);
    transition: all 0.6s;
    &:hover{
      color: white;
      font-size: 25px;
    }
  }

}
header{
  margin-top: 30px;
  margin-bottom: 120px;
}

footer{
  margin-top: 200px;
}
.menu{
  display:inline-block;
  a{
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: rgb(28, 28, 27);
    transition: all 0.6s;
    &:hover{
      color: white;

    }
  }
}
