%header
  %div.contact
    %a.icon{href: 'mailto:limei.hassellof@ombori.com'}
      %i.fa.fa-envelope
    %a.icon{href: 'https://github.com/limeihassellof'}
      %i.fa.fa-github
    %a.icon{href: 'https://www.linkedin.com/in/limeihassellof/'}
      %i.fa.fa-linkedin
    %a.icon{href: 'https://www.facebook.com/limeihassellof'}
      %i.fa.fa-facebook-official
    %a.icon{href: 'https://www.instagram.com/limeihassellof/'}
      %i.fa.fa-instagram
    %a.icon{href: 'https://twitter.com/limeihassellof'}
      %i.fa.fa-twitter

  %div.menu
    %a.page{href:'resume.html'}
      Resumé
    %a.page{href:'projects.html'}
      Projects
    %a.page{href:'index.html'}
      About
