---
title: Welcome to Limei
---
%div{id:'photo'}
  %img{src: '/images/limei.jpg'}
%div{id:'intro'}
  %h1 Limei Hassellöf
  %p Welcome to my portfolio, this is where I put stuff I work on as I learn how to code.
  %p I moved from China to Sweden in 2004 and I now live in Stockholm with my husband and 4 year old daughter.
