---
title: Welcome to Limei
---
%div{id:'container'}
  %img{src: '/images/limei.jpg',id:'photo'}
  %div{id:'intro'}
    %h1 Limei Hassellöf
    %p Former healthcare entrepreneur now moving into digital business development.
    %p Facebook, Twitter, Linkedin
    %P limei@evole.se
  %div{id: 'projects'}
    %div{class:'project fizz'}
    %div{class:'project nihao'}
  %div{id:'yourinfo'}
