---
title: Welcome to Limei
---

%img{src: '/images/limei.jpg',id:'photo'}
%div{id:'intro'}
  %h1 Limei Hassellöf
  %p Former healthcare entrepreneur now moving into digital business development.

%div{id: 'projects'}
  %div{class:'project fizz'}
  %div{class:'project nihao'}
%div{id:'yourinfo'}
  %p Name:
  %p Email:
  %p Message:
