---
title: Limei Hassellöf Resumé
id: resumepage
---
%div{id:'resume'}
  %h2 Kinaterapi
  %p 2004 - 2013
  %p I worked as a manager at a small chain of TCM (Traditional Chinese Medicine) clinics. During this time I did everything from managing the doctors to advertising our services and sales in the clinics.
